<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GB Facility</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link href="img/logo.png" rel="icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="css/facility.css" rel="stylesheet" />

    <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  </head>

  <body>
    <!--==========================
    Header
  ============================-->
    <header id="header">
      <div class="container-fluid">
        <div id="logo" class="pull-left">
          <h1><a href="#intro" class="scrollto"> <img src="img/logo.png" alt="" class="logo"></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="#intro">Home</a></li>
            <li class="menu-has-children">
              <a href="">Company Profile</a>
              <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#misi">Vission & Mission</a></li>
                <li><a href="#testimonials">Board of Director</a></li>
              </ul>
            </li>
            <li class="menu-has-children">
              <a href="">Services</a>
              <ul>
                <li><a href="#services">Cleaning Service</a></li>
                <li><a href="#services">Support Service</a></li>
              </ul>
            </li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#clients">Our Client</a></li>
           
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
        <!-- #nav-menu-container -->
      </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">
      <div class="intro-container">
        <div
          id="introCarousel"
          class="carousel slide carousel-fade"
          data-ride="carousel"
        >
          <ol class="carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-background">
                <img src="img/pexels-joenibraw-1416530.jpg" alt="" />
              </div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>GB FACILITY</h2>
                  <h3>Facility Service Solution</h3>
                  <p>
                    Solusi terbaik untuk kebutuhan jasa cleaning service, parking service, 
                    security service dan support service di  wilayah  Jawa, Bali, Sumatra dan Kalimantan
                  </p>
                  <a href="#featured-services" class="btn-get-started scrollto"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-background">
                <img src="img/pexels-olly-845451.jpg" alt="" />
              </div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>PT Gerbang Berkah Solusi Indonesia</h2>
                  
                  <a href="#featured-services" class="btn-get-started scrollto"
                    >Dapatkan Layanan Terbaik Kami!</a
                  >
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-background">
                <img src="img/pexels-wdnet-518244.jpg" alt="" />
              </div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>FACILITY SERVICE SOLUTION</h2>
                  <p>
                    Great, Excellent, Responsive, Brave, Accountable, Nice, Goal </p>
                  <a href="#featured-services" class="btn-get-started scrollto"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>

         
          </div>

          <a
            class="carousel-control-prev"
            href="#introCarousel"
            role="button"
            data-slide="prev"
          >
            <span
              class="carousel-control-prev-icon ion-chevron-left"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Previous</span>
          </a>

          <a
            class="carousel-control-next"
            href="#introCarousel"
            role="button"
            data-slide="next"
          >
            <span
              class="carousel-control-next-icon ion-chevron-right"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- #intro -->

    <main id="main">

      <section id="about">
        <div class="container">
          <header class="section-header">
            <h3>About Us</h3>
            <p>
              <strong style="color: #18d26e">The One Service Solution,</strong>
              <br />
              GB Facility suatu perusahaan alih daya (outsourcing) memberikan layananan dalam
              bidang :
              1) Kebersihan (Cleaning & Gardening) dan penyedia tenaga
              kerja (Manpower Supply).
              2) Pengelolaan dan Konsultansi Perparkiran
              3) Pengamanan (Security)
               Dengan manajemen yg profesional dan berpengalaman dibidangnya lebih dr 25 tahun.
            </p>
          </header>

          <div class="row about-cols" id="misi">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="about-col">
                <div class="img">
                  <img src="img/about-vision.jpg" alt="" class="img-fluid" />
                  <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Vision</a></h2>
                <p>
                  Menjadi perusahaan alih daya (outsourcing) dalam bidang Cleaning, Parking, & Security yang berskala nasional 
                </p>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="img/about-mission.jpg" alt="" class="img-fluid" />
                  <div class="icon">
                    <i class="ion-ios-speedometer-outline"></i>
                  </div>
                </div>
                <h2 class="title"><a href="#">Our Mission</a></h2>
                <p>
                 <ul>
                  <li>Merekrut tenaga ahli yang professional dan berpengalaman untuk menjadi bagian dari manajemen perusahaan</li>
                  <li>⁠Memberikan pelatihan bagi calon tenaga kerja oleh instruktur yang professional</li>
                  <li>Melakukan audit kualitas pelayanan secara reguler</li>
                  <li>Memberdayakan sumber daya lokal untuk ikut andil dalam pembangunan daerah masing - masing</li>
                  <li>Menjalin hubungan kerja (koordinasi) dengan instansi terkait (pemerintah pusat dan daerah)</li>
                 </ul>
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <section id="testimonials" class="section-bg wow fadeInUp">
        <div class="container">
          <header class="section-header">
            <h3>Board of Director</h3>
          </header>

          <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
              <img src="img/firdaus.jpg" class="testimonial-img" alt="" />
              <h3>FIRDAUS, SE, MM</h3>
              <h4>Chief Executive Officer</h4>
              <p>
                <img
                  src="img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt=""
                />
                Pengalaman lebih dari 25 tahun bisnis outsourcing, sebelumnya berkarir di salah satu bank nasional lebih dari 5 tahun
                <img
                  src="img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt=""
                />
              </p>
            </div>

          
          </div>
        </div>
      </section>

    
      <!--==========================
      Featured Services Section
    ============================-->
      <section id="featured-services">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 box">
              <i class="ion-ios-bookmarks-outline"></i>
              <h4 class="title"><a href="">Cleaning & Gardening</a></h4>
              <p class="description">
                GB – Cleaning memberikan layanan Cleaning Service & Gardening yang siap 
                membantu mitra kerja mewujudkan properti yang bersih dan nyaman. Dikerjakan oleh Sumber Daya Manusia (SDM) profesional dan terlatih yang di lengkapi oleh peralatan yang modern
              </p>
            </div>

            <div class="col-lg-4 box box-bg">
              <i class="ion-ios-stopwatch-outline"></i>
              <h4 class="title"><a href="">Support Service</a></h4>
              <p class="description">
                GB – Support memberikan layanan penyediaan sumber daya manusia (alih daya) yang terlatih dan berpengalaman yang dibutuhkan mitra kerja,
dengan mengikuti ketentuan Undang - Undang Cipta Kerja.
                
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- #featured-services -->
     
     

      <!--==========================
      Portfolio Section
    ============================-->
      <section id="portfolio" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3 class="section-title">Our Portfolio</h3>
          </header>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container">
            <div
              class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp"
            >
            
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/Cleaning Service/pexels-cottonbro-4503267.jpg" class="img-fluid" alt="" />
                  <a
                    href="img/Cleaning Service/pexels-cottonbro-4503267.jpg"
                    class="link-preview"
                    data-lightbox="portfolio"
                    data-title="Web 3"
                    title="Preview"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a href="#" class="link-details" title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </figure>

                <div class="portfolio-info">
                  <h4><a href="#">Gardener 1</a></h4>
                  <p>Gardener</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp"
              data-wow-delay="0.2s"
            >
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/Cleaning Service/pexels-fotios-photos-1453499.jpg" class="img-fluid" alt="" />
                  <a
                    href="img/Cleaning Service/pexels-fotios-photos-1453499.jpg"
                    class="link-preview"
                    data-lightbox="portfolio"
                    data-title="App 2"
                    title="Preview"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a href="#" class="link-details" title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </figure>

                <div class="portfolio-info">
                  <h4><a href="#">App 2</a></h4>
                  <p>App</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp"
            >
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/Cleaning Service/pexels-karolina-grabowska-4239146.jpg" class="img-fluid" alt="" />
                  <a
                    href="img/Cleaning Service/pexels-karolina-grabowska-4239146.jpg"
                    class="link-preview"
                    data-lightbox="portfolio"
                    data-title="Card 2"
                    title="Preview"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a href="#" class="link-details" title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </figure>

                <div class="portfolio-info">
                  <h4><a href="#">Card 2</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp"
              data-wow-delay="0.1s"
            >
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/Cleaning Service/pexels-matilda-wormwood-4099467.jpg" class="img-fluid" alt="" />
                  <a
                    href="img/Cleaning Service/pexels-matilda-wormwood-4099467.jpg"
                    class="link-preview"
                    data-lightbox="portfolio"
                    data-title="Web 2"
                    title="Preview"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a href="#" class="link-details" title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </figure>

                <div class="portfolio-info">
                  <h4><a href="#">Web 2</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp"
              data-wow-delay="0.2s"
            >
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/Cleaning Service/pexels-pixabay-209230.jpg" class="img-fluid" alt="" />
                  <a
                    href="img/Cleaning Service/pexels-pixabay-209230.jpg"
                    class="link-preview"
                    data-lightbox="portfolio"
                    data-title="App 3"
                    title="Preview"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a href="#" class="link-details" title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </figure>

                <div class="portfolio-info">
                  <h4><a href="#">App 3</a></h4>
                  <p>App</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp"
            >
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/Cleaning Service/pexels-quang-nguyen-vinh-222549-2134798.jpg" class="img-fluid" alt="" />
                  <a
                    href="img/Cleaning Service/pexels-quang-nguyen-vinh-222549-2134798.jpg"
                    class="link-preview"
                    data-lightbox="portfolio"
                    data-title="Card 1"
                    title="Preview"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a href="#" class="link-details" title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </figure>

                <div class="portfolio-info">
                  <h4><a href="#">Card 1</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp"
              data-wow-delay="0.1s"
            >
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/Cleaning Service/pexels-tima-miroshnichenko-6195273.jpg" class="img-fluid" alt="" />
                  <a
                    href="img/Cleaning Service/pexels-tima-miroshnichenko-6195273.jpg"
                    class="link-preview"
                    data-lightbox="portfolio"
                    data-title="Card 3"
                    title="Preview"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a href="#" class="link-details" title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </figure>

                <div class="portfolio-info">
                  <h4><a href="#">Card 3</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp"
              data-wow-delay="0.2s"
            >
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/Cleaning Service/pexels-fotios-photos-1453499.jpg" class="img-fluid" alt="" />
                  <a
                    href="img/Cleaning Service/pexels-fotios-photos-1453499.jpg"
                    class="link-preview"
                    data-lightbox="portfolio"
                    data-title="Web 1"
                    title="Preview"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a href="#" class="link-details" title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </figure>

                <div class="portfolio-info">
                  <h4><a href="#">Web 1</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #portfolio -->

      <!--==========================
      Clients Section
    ============================-->
      <section id="clients" class="wow fadeInUp">
        <div class="container">
          <header class="section-header">
            <h3>Our Clients</h3>
          </header>

          <div class="owl-carousel clients-carousel">
             <img  src="img/client/brick.png" alt="" />
            <img src="img/client/surya balaraja.png" alt="" />
            <img src="img/client/binawan.jpg" alt="" />
            <img src="img/client/hr.png" alt="" />
            <img src="img/client/kcm.png" alt="" />
            <img src="img/client/oslona.png" alt="" />
            <img src="img/client/pronto.png" alt="" />
            <img src="img/client/asr.png" alt="" />
            <img src="img/client/Wika-Beton.png" alt="" />
            <img src="img/client/belleview_logo.png" alt="" />
            <img src="img/client/lynea.png" alt="" />
            <img src="img/client/antaka.png" alt="" />
            <img src="img/client/superndo.png" alt="" />
            <img src="img/client/korindo.png" alt="" />
            <img src="img/client/depo.png" alt="" />
            <img src="img/client/royal.png" alt="" />
            <img src="img/client/New-Logo-Bintang-Motor-272x90-px.png" alt="" />
             <!-- Gambar baru yang ditambahkan -->
            <img src="img/client/ace.png" alt="ace" />
            <img src="img/client/all fresh.png" alt="all fresh" />
            <img src="img/client/askrida.png" alt="askrida" />
            <img src="img/client/aston-priority-simatupang-1-removebg-preview.png" alt="aston-priority-simatupang" />
            <img src="img/client/bekasi junction.png" alt="bekasi junction" />
            <img src="img/client/botique buessnes center.png" alt="botique buessnes center" />
            <img src="img/client/boutique.png" alt="boutique" />
            <img src="img/client/boxies 123.png" alt="boxies 123" />
            <img src="img/client/cisoka.png" alt="cisoka" />
            <img src="img/client/depok trade center.png" alt="depok trade center" />
            <img src="img/client/fresh market jonggol.png" alt="fresh market jonggol" />
            <img src="img/client/graha lestari.png" alt="graha lestari" />
            <img src="img/client/green forest bandung.png" alt="green forest bandung" />
            <img src="img/client/is plaza.png" alt="is plaza" />
            <img src="img/client/kawasan niaga citra.png" alt="kawasan niaga citra" />
            <img src="img/client/kertajati.png" alt="kertajati" />
            <img src="img/client/menara 165.png" alt="menara 165" />
            <img src="img/client/salemba.png" alt="salemba" />
            <img src="img/client/soll marina.png" alt="soll marina" />
            <img src="img/client/sun set.png" alt="sun set" />
            <img src="img/client/taman wisata matahari.png" alt="taman wisata matahari" />
          </div>
        </div>
      </section>
      <!-- #clients -->

      <!--==========================
      Clients Section
    ============================-->
      <!-- <section id="testimonials" class="section-bg wow fadeInUp">
        <div class="container">
          <header class="section-header">
            <h3>Testimonials</h3>
          </header>

          <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
              <img src="img/testimonial-1.jpg" class="testimonial-img" alt="" />
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <img
                  src="img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt=""
                />
                Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <img
                  src="img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt=""
                />
              </p>
            </div>

            <div class="testimonial-item">
              <img src="img/testimonial-2.jpg" class="testimonial-img" alt="" />
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <img
                  src="img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt=""
                />
                Export tempor illum tamen malis malis eram quae irure esse
                labore quem cillum quid cillum eram malis quorum velit fore eram
                velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <img
                  src="img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt=""
                />
              </p>
            </div>

            <div class="testimonial-item">
              <img src="img/testimonial-3.jpg" class="testimonial-img" alt="" />
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <img
                  src="img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt=""
                />
                Enim nisi quem export duis labore cillum quae magna enim sint
                quorum nulla quem veniam duis minim tempor labore quem eram duis
                noster aute amet eram fore quis sint minim.
                <img
                  src="img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt=""
                />
              </p>
            </div>

            <div class="testimonial-item">
              <img src="img/testimonial-4.jpg" class="testimonial-img" alt="" />
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <img
                  src="img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt=""
                />
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                multos export minim fugiat minim velit minim dolor enim duis
                veniam ipsum anim magna sunt elit fore quem dolore labore illum
                veniam.
                <img
                  src="img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt=""
                />
              </p>
            </div>

            <div class="testimonial-item">
              <img src="img/testimonial-5.jpg" class="testimonial-img" alt="" />
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <img
                  src="img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt=""
                />
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam enim culpa labore duis sunt culpa
                nulla illum cillum fugiat legam esse veniam culpa fore nisi
                cillum quid.
                <img
                  src="img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt=""
                />
              </p>
            </div>
          </div>
        </div>
      </section> -->
      <!-- #testimonials -->

      <!--==========================
      Team Section
    ============================-->
      <!-- <section id="team">
        <div class="container">
          <div class="section-header wow fadeInUp">
            <h3>Team</h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque
            </p>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="img/team-1.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="img/team-2.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="member">
                <img src="img/team-3.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="member">
                <img src="img/team-4.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- #team -->

      <!--==========================
      Contact Section
    ============================-->
      <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h3>Contact Us</h3>
            <p>
              Anda punya pertanyaan, dan kami punya jawaban. 
              Cukup kirimkan pesan kepada kami dan salah satu staf 
              pendukung kami yang berpengetahuan luas akan menghubungi 
              Anda dalam waktu 48 jam – bahkan pada akhir pekan dan hari libur.
            </p>
          </div>

          <div class="row contact-info">
            <div class="col-md-4">
              <div class="contact-address">
                <i class="ion-ios-location-outline"></i>
                <h3>Address</h3>
                <address>Head Office Green Park Office View Blok RD 05, Jl. Daan Mogot Raya KM 14 Cengkareng – Jakarta Barat</address>
              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3>Phone Number</h3>
                <p><a target="_blank" href="https://wa.me/6281314316442">+62 813-1431-6442</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3>telephone</h3>
                <p><a href="tel:021-38764145">021-38764145</a></p>
              </div>
            </div>

            <!-- <div class="col-md-4">
              <div class="contact-email">
                <i class="ion-ios-telephone-outline"></i>
                <h3>Email</h3>
                <p><a href="mailto:info@example.com">exma@gmail.com</a></p>
              </div>
            </div> -->
          </div>

          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                  />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-md-6">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    data-rule="email"
                    data-msg="Please enter a valid email"
                  />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  name="phoneNumber"
                  id="phoneNumber"
                  placeholder="Phone Number"
                  data-rule="minlen:4"
                  data-msg="Please input a number"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 8 chars of subject"
                />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  rows="5"
                  data-rule="required"
                  data-msg="Please write something for us"
                  placeholder="Message"
                ></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- #contact -->
    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-info">
              <h3>GB Facility</h3>
              <p>
                GB facility suatu perusahaan alih daya 
                memberikan layananan dalam bidang kebersihan 
                (cleaning & gardening) serta menyediakan tenaga kerja (manpower supply). 
                Dengan manajemen yg profesional dan berpengalaman dibidangnya lebih dr 25 tahun.
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="ion-ios-arrow-right"></i> <a href="#intro">Home</a>
                </li>
                <li>
                  <i class="ion-ios-arrow-right"></i> <a href="#about">About us</a>
                </li>
                <li>
                  <i class="ion-ios-arrow-right"></i> <a href="#services">Services</a>
                </li>
                <li>
                  <i class="ion-ios-arrow-right"></i>
                  <a href="#portfolio">Portofolio</a>
                </li>
                <li>
                  <i class="ion-ios-arrow-right"></i> <a href="#clients">Our Client</a>
                </li>
                <li>
                  <i class="ion-ios-arrow-right"></i>
                  <a href="#contact">Contact</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                Head Office Green Park Office View Blok RD 05 <br />
                Jl. Daan Mogot Raya KM 14 Cengkareng <br />
                Jakarta Barat <br />
                <strong>Telephone:</strong> 021-38764145<br />
                <strong>Phone:</strong> +62 813-1431-6442<br />
                <strong>Email:</strong> firdaus260870@gmail.com<br />
              </p>

              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#" class="google-plus"
                  ><i class="fa fa-google-plus"></i
                ></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Tamen quem nulla quae legam multos aute sint culpa legam noster
                magna veniam enim veniam illum dolore legam minim quorum culpa
                amet magna export quem marada parida nodela caramase seza.
              </p>
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>GB Facility</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
         <!-- </a>Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
      </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
  </body>
</html>
